@use 'shared/styles/03_mixins' as mixins;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
}

.label {
  font-size: 1.4rem;
  color: var(--text-secondary);
}

.errorLabel {
  color: var(--text-state-error);
}

.textInput {
  width: 100%;
  height: 5.6rem;
  padding: 1rem;
  border: 1px solid var(--text-secondary);
  border-radius: 0.8rem;
  font-size: 1.7rem;
  background-color: var(--surface-base);
  color: var(--text-primary);
  outline: none;

  &:focus,
  &.focused {
    outline: none;
    border: 2px solid var(--surface-brand);
  }

  &.error {
    border-color: var(--text-state-error);
  }

  &.disabled {
    background-color: var(--surface-disabled);
    color: var(--text-state-disabled);
    cursor: not-allowed;
    border-color: var(--surface-disabled);
  }

  &::placeholder {
    color: var(--text-secondary);
  }
}

// .errorMessage {
//   font-size: 1.2rem;
//   color: var(--text-state-error);
//   text-align: left;
//   margin-top: 0.2rem;
// }
