.container {
  position: relative;

  .imageLabel {
    width: 100%;
    position: absolute;
    padding: 0 14.66px 0 14.66px;
    bottom: 10px;
    z-index: 2;

    .name {
      width: 100%;
      font-weight: 500;
      font-style: Medium;
      font-size: 24px;
      line-height: 130%;
      letter-spacing: 1%;
      color: var(--surface-base, #ffffff);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .status {
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 130%;
      letter-spacing: 1%;
      color: var(--surface-base, #ffffff);
    }
  }
}

.imageWrapper::before {
  content: '';
  position: absolute;
  top: 18rem;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(139, 139, 139, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  z-index: 1;
}

.imageWrapper {
  width: 36rem;
  height: 36rem;
  overflow: hidden;
}

@media (max-width: 410px) {
  .callButton {
    position: absolute;
    left: 5.3rem;
    top: 30rem;
    color: #ffffff;
  }
  .messageButton {
    position: absolute;
    left: 11.5rem;
    top: 30rem;
    color: #ffffff;
  }
  .searchButton {
    position: absolute;
    left: 17.7rem;
    top: 30rem;
    color: #ffffff;
  }
  .videoCallButton {
    position: absolute;
    left: 23.9rem;
    top: 30rem;
    color: #ffffff;
  }
  .imageWrapper {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .imageLabel {
    top: 24rem;
  }
}
