.wrapper {
  width: 36rem;
}

.search {
  padding: 1.6rem;
}

.label {
  height: 3.6rem;
  padding: 1rem 1.6rem;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 1%;
}
