@use 'shared/styles/03_mixins' as mixins;

.container {
  @include mixins.flex-box(column, flex-start, center, 2.4rem);
  width: 100%;
  height: 100%;
}

.content {
  @include mixins.flex-box(column, center, center);
}

.image {
  width: 21.1rem;
  height: auto;
  object-fit: contain;
  margin-bottom: 4rem;
  margin-left: 1.5rem;
}

.title {
  font-size: 3.4rem;
  margin-bottom: 1.6rem;
  color: var(--text-primary);
}

.text {
  font-size: 1.8rem;
  color: var(--text-secondary);
  text-align: center;
}

/* ===== DESKTOP ===== */

@media (min-width: 401px) {
  .container {
    @include mixins.flex-box(column, space-between, center);
  }

  .image {
    width: 17.9rem;
    height: 16.1rem;
    margin-bottom: 6.4rem;
  }

  .title {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
  }
}
